<template>
    <div class="text-center">
        <div>
        <img src="/images/team.jpg" alt="team" width="60%" />
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
