<template>
    <div class="notification alert alert-block" :class="{'alert-danger': !response.success,'alert-success': response.success}">
        <button type="button" class="close" data-dismiss="alert">×</button> 
        <h4><i class="fa fa-bell-alt"></i>Notification!</h4> 
        <p class="ng-binding">{{response.message}}</p> 
        <p v-if="!response.success" class="ng-binding">{{response.data}}</p> 
    </div>
</template>
<script>
export default {
    props: ['response']
}
</script>

<style>
.notification {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    right: 30px;
    bottom: 20px;
    width: 250px;
}
</style>
