<template>
    <div class="m-t-md col-sm-offset-2 col-sm-8 ng-scope">
        <Notification :response="response" v-if="showNoti" />
        <section class="panel panel-default"> 
            <header class="panel-heading"> Liste Equipes </header> 
            <div class="table-responsive"> 
                <table class="table table-striped datagrid m-b-sm"> 
                    <thead> 
                        <tr> 
                            <th colspan="5"> 
                                <div class="row"> 
                                    <div class="col-sm-3 m-t-xs m-b-xs">
                                        <select class="input-sm form-control" @change="fetch()" v-model="reqParm.limit">
                                            <option value="5">5  Equipes</option>
                                            <option value="10">10  Equipes</option>
                                            <option value="25">25  Equipes</option>
                                            <option value="50">50  Equipes</option>
                                            <option value="100">100  Equipes</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 m-t-xs m-b-xs">
                                    </div>
                                    <div class="col-sm-4 m-t-xs m-b-xs"> 
                                        <div class="input-group search datagrid-search"> 
                                            <input class="input-sm form-control" v-model="reqParm.searchValue" @change="fetch()" placeholder="Par Nom Anglais" type="text">
                                            <div class="input-group-btn"> 
                                                <button class="btn btn-default btn-sm">
                                                    <i class="fa fa-search"></i>
                                                </button> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                            </th> 
                        </tr> 
                        <tr>
                            <th class="sortable" scope="col">Logo</th>
                            <th class="sortable" scope="col">Nom</th>
                            <th class="sortable" scope="col">الاسم</th>
                            <th class="sortable" scope="col">Short</th>
                            <th class="sortable" scope="col">Action</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <!-- ngRepeat: team in teams | filter:searchTeam:false  -->
                        <tr v-for="team in teams" :key="team.id">
                            <td><img :src="team.logo" height="35px"></td>
                            <td class="font-weight-bold"><h5 class="ng-binding">{{team.name_en}}</h5></td>
                            <td class="font-weight-bold"><h5 class="ng-binding">{{team.name_ar}}</h5></td>
                            <td class="font-weight-bold"><h5 class="ng-binding">{{team.short_name}}</h5></td>
                            <td>
                                <button class="btn btn-success" @click="upShowTeam(team.id)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" @click="suppTeam(team.id)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        <!-- end ngRepeat: team in teams | filter:searchTeam:false  -->
                    </tbody>
                </table> 
            </div>
        </section>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-for="i in Math.ceil(totalTeams/reqParm.limit)" :key="i" :class="{'active':reqParm.page==i}" @click="reqParm.page=i;fetch()"><a class="page-link" href="#">{{i}}</a></li>
            </ul>
        </nav>
        
        <div class="modal in" style="display: block;" v-if="isModel">
            <div class="modal-dialog"> 
                <div class="modal-content"> 
                    <div class="modal-header"> 
                        <button type="button" class="close" @click="isModel = false">×</button> 
                        <h4 class="modal-title">Modifier Equipe</h4> 
                    </div> 
                    <div class="modal-body">
                        <div class="form-horizontal"> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Nom Equipe <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <input v-model="team.name_en" class="form-control" data-type="text" required="" placeholder="Nom Equipe" type="text"> 
                                </div> 
                            </div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">en Arabe <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <input v-model="team.name_ar" class="form-control" data-type="text" required="" placeholder="اسم الفريق" type="text"> 
                                </div> 
                            </div> 
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Equipe <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <input v-model="team.short_name" class="form-control" data-type="text" required="" placeholder="Equipe" type="text"> 
                                </div> 
                            </div> 
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Logo</label> 
                                <div class="col-sm-9"> 
                                    <input type="file" id="file" ref="file" @change="handleFileUpload()">  
                                </div> 
                            </div> 
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <textarea v-model="team.description" class="form-control" rows="6" data-minwords="6" required="" placeholder="Description"></textarea>                    
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <a class="btn btn-default"  @click="isModel = false">Close</a> 
                        <a class="btn btn-primary" @click="upTeam(team.id)">Save</a> 
                    </div> 
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal-backdrop in" v-if="isModel"></div>

    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            teams: [],
            team: {},
            response: {},
            showNoti: false,
            isModel: false,
            searchTeam: "",
            totalTeams: 0,
            reqParm: {}
        }
    },
    created: function(){
        this.reqParm.limit = 10
        this.reqParm.page = 1
        this.reqParm.searchBy = "name_en"
        this.fetch()
    },
    methods: {
        fetch: function(){
            let uri = '/apiWeb/teams/search';
            this.axios.post(uri,this.reqParm).then((response) => {
                this.teams = response.data.data      
                this.totalTeams = response.data.message      
            })
        },
        upTeam: function(id){
            let uri = '/apiWeb/teams/'+id;
            var fdata = new FormData();
            fdata.append('logo',this.logo);
            fdata.append('name_en',this.team.name_en);
            fdata.append('name_ar',this.team.name_ar);
            fdata.append('short_name',this.team.short_name);
            fdata.append('description',this.team.description);
            console.log('jjjj');
            
            this.axios.put(uri,this.team).then((response) => {
                this.response = response.data
                this.team = {}
                this.showNoti = true
                this.fetch()
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
            this.isModel = false
        },
        upShowTeam: function(id){
            let uri = '/apiWeb/teams/'+id;
            this.axios.get(uri).then((response) => {
                this.team = response.data.data      
                this.isModel = true
           })
        },
        suppTeam: function(id){
                let uri = `/apiWeb/teams/${id}`;
                this.axios.delete(uri).then((response) => {
                console.log(response);                
                this.response = response.data
                this.showNoti = true
                })            
                uri = '/api/demandes/my';
                this.fetch()
        },
        /*
            Handles a change on the file upload
        */
        handleFileUpload: function(){
            this.logo = this.$refs.file.files[0];
        }
    },
    components: {
        Notification
    }

}
</script>