<template>
    <div class="m-t-md col-sm-offset-3 col-sm-6"> 
        <Notification :response="response" v-if="showNoti" />
        <form class="form-horizontal" >  
            <section class="panel panel-default"> 
                <header class="panel-heading"> <strong>Ajouter Ligue</strong> </header> 
                <div class="panel-body"> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Nom Ligue <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <input v-model="league.name_en" class="form-control" data-type="text" required="" placeholder="Nom Ligue" type="text"> 
                        </div> 
                    </div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">en Arabe <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <input v-model="league.name_ar" class="form-control" data-type="text" required="" placeholder="اسم البطولة" type="text"> 
                        </div> 
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Saison</label> 
                        <div class="col-sm-9"> 
                            <input v-model="league.saison" class="form-control" data-type="text" required="" placeholder="Nom Ligue" type="text"> 
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Logo</label> 
                        <div class="col-sm-9"> 
                            <input type="file" id="file" ref="file" @change="handleFileUpload()">  
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <textarea v-model="league.description" class="form-control" rows="6" data-minwords="6" required="" placeholder="Description"></textarea>                    
                        </div> 
                    </div> 
                </div>
                <footer class="panel-footer text-right bg-light lter"> 
                    <button type="button" @click="addLeague()" class="btn btn-success btn-s-xs">Ajouter</button> 
                </footer>
            </section>
        </form>
    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            league: {},
            response: {},
            showNoti: false,
            logo: ''
        }
    },
    methods: {
        addLeague: function(){
            let uri = '/apiWeb/leagues';
            let fd = new FormData();
            fd.append('logo',this.logo);
            fd.append('name_en',this.league.name_en);
            fd.append('name_ar',this.league.name_ar);
            fd.append('saison',this.league.saison);
            fd.append('description',this.league.description);
            console.log('jjjj');
            console.log(fd);
            
            this.axios.post(uri, fd,{headers: {'Content-Type': 'multipart/form-data'}}).then((response) => {
                this.response = response.data
                this.league = {}
                this.showNoti = true
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
        },
        /*
            Handles a change on the file upload
        */
        handleFileUpload: function(){
            this.logo = this.$refs.file.files[0];
        }
    },
    components: {
        Notification
    }

}
</script>
