<template>
    <section class="hbox stretch"> 
        <!-- .aside --> 
        <aside class="bg-dark lter aside-md hidden-print hidden-xs" id="nav"> 
            <section class="vbox"> 
                <header class="header bg-primary lter text-center clearfix"> 
                    <div class="btn-group"> 
                        <router-link :to="'addMatch'">
                            <button type="button" class="btn btn-sm btn-dark btn-icon"><i class="fa fa-plus"></i></button>
                            <div class="btn-group hidden-nav-xs"> 
                                <button type="button" class="btn btn-sm btn-primary">Ajouter Match</button> 
                            </div>
                        </router-link> 
                    </div> 
                </header> 
                <header class="header bg-primary lter text-center clearfix"> 
                    <div class="btn-group"> 
                        <router-link :to="'addVideo'">
                            <button type="button" class="btn btn-sm btn-dark btn-icon"><i class="fa fa-plus"></i></button>
                            <div class="btn-group hidden-nav-xs"> 
                                <button type="button" class="btn btn-sm btn-primary">Ajouter Video</button> 
                            </div>
                        </router-link> 
                    </div> 
                </header> 
                <section class="w-f scrollable"> 
                    <div class="slimScrollDiv">
                        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333" style="overflow: hidden; width: auto; height: 293px;"> 
                            <!-- nav --> 
                            <nav class="nav-primary hidden-xs"> 
                                <ul class="nav">    
                                    <li> 
                                        <a> 
                                            <i class="fa fa-bolt icon"> <b class="bg-info"></b> </i> 
                                            <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> 
                                            <span>Matchs</span> 
                                        </a> 
                                        <ul class="nav lt"> 
                                            <li> 
                                                <router-link to="addMatch"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Ajouter Match</span> 
                                                </router-link> 
                                            </li> 
                                            <li > 
                                                <router-link to="matchs"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Liste Matchs</span> 
                                                </router-link> 
                                            </li>  
                                        </ul> 
                                    </li>  
                                    <li> 
                                        <a> 
                                            <i class="fa fa-bolt icon"> <b class="bg-info"></b> </i> 
                                            <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> 
                                            <span>Videos</span> 
                                        </a> 
                                        <ul class="nav lt"> 
                                            <li> 
                                                <router-link to="addVideo"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Ajouter Video</span> 
                                                </router-link> 
                                            </li> 
                                            <li > 
                                                <router-link to="genererVideos"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Generer Videos</span> 
                                                </router-link> 
                                            </li>  
                                            <li > 
                                                <router-link to="videos"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Liste Videos</span> 
                                                </router-link> 
                                            </li>  
                                        </ul> 
                                    </li>  
                                    <li> 
                                        <a> 
                                            <i class="fa fa-bullseye icon"> <b class="bg-success"></b> </i> 
                                            <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> 
                                            <span>Chaînes</span> 
                                        </a> 
                                        <ul class="nav lt"> 
                                            <li> 
                                                <router-link to="addChannel"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Ajouter Chaîne</span> 
                                                </router-link> 
                                            </li> 
                                            <li > 
                                                <router-link to="channels"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Liste Chaînes</span> 
                                                </router-link> 
                                            </li>  
                                        </ul> 
                                    </li>  
                                    <li> 
                                        <a> 
                                            <i class="fa fa-trophy icon"> <b class="bg-danger"></b> </i> 
                                            <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> 
                                            <span>Ligues</span> 
                                        </a> 
                                        <ul class="nav lt"> 
                                            <li> 
                                                <router-link :to="'addLeague'"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Ajouter Ligue</span> 
                                                </router-link> 
                                            </li> 
                                            <li > 
                                                <router-link :to="'leagues'"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Liste Ligues</span> 
                                                </router-link> 
                                            </li>  
                                        </ul> 
                                    </li>  
                                    <li> 
                                        <a> 
                                            <i class="fa fa-dribbble icon"> <b class="bg-warning"></b> </i> 
                                            <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> 
                                            <span>Equipes</span> 
                                        </a> 
                                        <ul class="nav lt"> 
                                            <li> 
                                                <router-link :to="'addTeam'"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Ajouter Equipe</span> 
                                                </router-link> 
                                            </li> 
                                            <li > 
                                                <router-link :to="'teams'"> 
                                                    <i class="fa fa-angle-right"></i> 
                                                    <span>Liste Equipes</span> 
                                                </router-link> 
                                            </li>  
                                        </ul> 
                                    </li>  
                                </ul> 
                            </nav> 
                            <!-- / nav --> 
                        </div>
                        <div class="slimScrollBar" style="background: rgb(51, 51, 51) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.4; border-radius: 7px; z-index: 99; right: 0px; height: 245.283px; display: block;"></div>
                        <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 0px;"></div>
                    </div>
                </section>
            </section>
        </aside>  
        <section id="content">
            <section class="vbox">
                <section class="scrollable padder">               
                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                </section>                 
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen, open" data-target="#nav,html"></a>
        </section> 
    </section>   
</template>
<script>
    export default {
        
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>