<template>
    <div class="m-t-md col-sm-offset-3 col-sm-6" v-if="isLoded>=4"> 
        <Notification :response="response" v-if="showNoti" />
        <form class="form-horizontal" >  
            <section class="panel panel-default"> 
                <header class="panel-heading"> <strong>Ajouter Match</strong> </header> 
                <div class="panel-body ng-binding"> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Equipe 1<span class="text-danger">*</span></label> 
                        <div class="col-sm-9 row"> 
                            <div class="row col-sm-9">
                                <div class="col-sm-4"> 
                                <input class="form-control" type="text" v-model="reqParm.teams1.searchValue"  @change="getTeams(1)">
                                </div> 
                                <div class="col-sm-8"> 
                                    <select class="form-control" v-model="match.home_team">
                                        <option v-for="team in teams1" v-bind:key="team.id" v-bind:value="team.id">{{team.name_en}} {{team.name_ar}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <input v-model="match.home_goal" class="form-control" data-type="number" type="number"> 
                            </div> 
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Equipe 2<span class="text-danger">*</span></label> 
                        <div class="col-sm-9 row"> 
                            <div class="row col-sm-9">
                                <div class="col-sm-4"> 
                                <input class="form-control" type="text" v-model="reqParm.teams2.searchValue" @change="getTeams(2)">
                                </div> 
                                <div class="col-sm-8"> 
                                    <select class="form-control" v-model="match.away_team">
                                        <option v-for="team in teams2" v-bind:key="team.id" v-bind:value="team.id">{{team.name_en}} {{team.name_ar}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <input v-model="match.away_goal" class="form-control" data-type="number" type="number"> 
                            </div> 
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Ligue <span class="text-danger">*</span></label> 
                        <div class="row col-sm-9">
                            <div class="col-sm-3"> 
                                <input class="form-control" type="text" v-model="reqParm.leagues.searchValue" @change="getLeagues()">
                            </div> 
                            <div class="col-sm-6"> 
                                <select class="form-control" v-model="match.league_id">
                                    <option v-for="league in leagues" v-bind:key="league.id" v-bind:value="league.id">{{league.name_en}} {{league.name_ar}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3"> 
                                <input class="form-control" type="number" v-model="match.day" placeholder="journée">
                            </div> 
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Date <span class="text-danger">*</span></label> 
                        <div class="row col-sm-9">
                            <div class="col-sm-6"> 
                                <input class="form-control" type="date" v-model="match.dateM" required="">
                            </div> 
                            <div class="col-sm-4"> 
                                <input class="form-control" type="time" v-model="match.timeM" required="">
                            </div> 
                            
                        </div>
                    </div>                
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Channels</label> 
                        <div class="col-sm-9">
                            <select multiple="" class="form-control" v-model="match.channels"> 
                                <option v-for="channel in channels" v-bind:key="channel.id" v-bind:value="channel.id">{{channel.name_en}} {{channel.name_ar}}</option>
                            </select>
                        </div>
                    </div>             
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Stadium</label> 
                        <div class="col-sm-9">
                            <input class="form-control" type="text" v-model="match.stadium">
                        </div>
                    </div>              
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <textarea v-model="match.description" class="form-control parsley-validated" rows="6" data-minwords="6" required="" placeholder="Description"></textarea>                    
                        </div> 
                    </div> 
                </div>
                <footer class="panel-footer text-right bg-light lter"> 
                    <button type="button" @click="addMatch()" class="btn btn-success btn-s-xs">Ajouter</button> 
                </footer>
            </section>
        </form>
    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            match: {
                channels: []
            },
            response: {},
            showNoti: false,
            teams1: [],
            teams2: [],
            leagues: [],
            channels: [],
            reqParm: {
                teams1: {},
                teams2: {},
                leagues: {},
            },
            dateM: '',
            timeM: '',
            isLoded: 0,
        }
    },
    created: function () {
        this.init()
        this.isLoded = 0
    },
    methods: {
        init: function () {
            this.reqParm.teams1.limit = 10
            this.reqParm.teams1.page = 1
            this.reqParm.teams1.searchBy = "name_en"
            this.getTeams(1)

            this.reqParm.teams2.limit = 10
            this.reqParm.teams2.page = 1
            this.reqParm.teams2.searchBy = "name_en"
            this.getTeams(2)

            this.reqParm.leagues.limit = 10
            this.reqParm.leagues.page = 1
            this.reqParm.leagues.searchBy = "name_en"
            this.getLeagues()

            this.getChannels()
        },
        getTeams: function (tm) {
            let uri = '/apiWeb/teams/search';
            if(tm==1)
                this.axios.post(uri,this.reqParm.teams1).then((response) => {
                    this.teams1 = response.data.data      
                    this.isLoded = this.isLoded + 1
                })
            else
                this.axios.post(uri,this.reqParm.teams2).then((response) => {
                    this.teams2 = response.data.data      
                    this.isLoded = this.isLoded + 1
                })            
        },  
        getLeagues: function(){
            let uri = '/apiWeb/leagues/search';
            this.axios.post(uri,this.reqParm.leagues).then((response) => {
                this.leagues = response.data.data      
                    this.isLoded = this.isLoded + 1
            })
        },
        getChannels: function(){
            let uri = '/apiWeb/channels';
            this.axios.get(uri).then((response) => {
                this.channels = response.data.data
                this.isLoded = this.isLoded + 1
            })
        },
        addMatch: function(){
            let uri = '/apiWeb/matchs';
            this.axios.post(uri, this.match).then((response) => {
                this.response = response.data
                this.match = {                
                                channels: []
                            }
                this.init()
                this.showNoti = true
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
        },
        getCode: function(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : url;
        }
    },
    components: {
        Notification
    }

}
</script>
