<template>
    <div class="m-t-md col-sm-offset-2 col-sm-8 ng-scope">
        <Notification :response="response" v-if="showNoti" />
        <section class="panel panel-default"> 
            <header class="panel-heading"> Liste Matchs </header> 
            <div class="table-responsive"> 
                <table class="table table-striped datagrid m-b-sm"> 
                    <thead> 
                        <tr> 
                            <th colspan="5"> 
                                <div class="row"> 
                                    <div class="col-sm-3 m-t-xs m-b-xs">
                                        <select class="input-sm form-control" @change="fetch()" v-model="reqParm.limit">
                                            <option value="5">5  Matchs</option>
                                            <option value="10">10  Matchs</option>
                                            <option value="25">25  Matchs</option>
                                            <option value="50">50  Matchs</option>
                                            <option value="100">100  Matchs</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 m-t-xs m-b-xs">
                                    </div>
                                    <div class="col-sm-4 m-t-xs m-b-xs"> 
                                        <div class="input-group search datagrid-search"> 
                                            <input class="input-sm form-control" v-model="reqParm.searchValue" @change="fetch()" type="date">
                                            <div class="input-group-btn"> 
                                                <button class="btn btn-default btn-sm">
                                                    <i class="fa fa-search"></i>
                                                </button> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                            </th> 
                        </tr> 
                        <tr>
                            <th class="sortable" scope="col">Ligue</th>
                            <th class="sortable" scope="col">Match</th>
                            <th class="sortable" scope="col">Date</th>
                            <th class="sortable" scope="col">Action</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <!-- ngRepeat: match in matchs | filter:searchMatch:false  -->
                        <tr v-for="match in matchs" :key="match.id">
                            <td><img :src="match.league.logo" height="35px"></td>
                            <td class="font-weight-bold">
                                <img :src="match.home.logo" height="35px">
                                <span class="font-weight-bold ng-binding"> VS </span>
                                <img :src="match.away.logo" height="35px">
                            </td>
                            <td class="font-weight-bold"><h5 class="ng-binding">{{match.date}} GMT</h5></td>
                            <td>
                                <button class="btn btn-success" @click="upShowMatch(match.id)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" @click="suppMatch(match.id)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        <!-- end ngRepeat: match in matchs | filter:searchMatch:false  -->
                    </tbody>
                </table> 
            </div>
        </section>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-for="i in Math.ceil(totalMatchs/reqParm.limit)" :key="i" :class="{'active':reqParm.page==i}" @click="reqParm.page=i;fetch()"><a class="page-link" href="#">{{i}}</a></li>
            </ul>
        </nav>
        
        <div class="modal in" style="display: block;" v-if="isModel">
            <div class="modal-dialog"> 
                <div class="modal-content"> 
                    <div class="modal-header"> 
                        <button type="button" class="close" @click="isModel = false">×</button> 
                        <h4 class="modal-title">Modifier Match</h4> 
                    </div> 
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Match</label> 
                                <div class="col-sm-7 row"> 
                                    <div class="col-sm-3"> 
                                        <img :src="match.home.logo" height="35px" alt="">
                                    </div> 
                                    <div class="col-sm-3"> 
                                        <input class="form-control" type="number" v-model="match.home_goal">
                                    </div> 
                                    <div class="col-sm-3"> 
                                        <input class="form-control" type="number" v-model="match.away_goal">
                                    </div> 
                                    <div class="col-sm-3"> 
                                        <img :src="match.away.logo" height="35px" alt="">
                                    </div> 
                                </div>
                            </div>              
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Ligue <span class="text-danger">*</span></label> 
                                <div class="row col-sm-9">
                                    <div class="col-sm-6"> 
                                        <select class="form-control" v-model="match.league_id">
                                            <option v-for="league in leagues" v-bind:key="league.id" v-bind:value="league.id">{{league.name_en}} {{league.name_ar}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3"> 
                                        <input class="form-control" type="number" v-model="match.day" placeholder="journée">
                                    </div> 
                                </div>
                            </div>
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Date <span class="text-danger">*</span></label> 
                                <div class="row col-sm-9">
                                    <div class="col-sm-6"> 
                                        <input class="form-control" type="date" v-model="match.dateM" required="">
                                    </div> 
                                    <div class="col-sm-4"> 
                                        <input class="form-control" type="time" v-model="match.timeM" required="">
                                    </div> 
                                    
                                </div>
                            </div>                
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Channels</label> 
                                <div class="col-sm-9">
                                    <select multiple="" class="form-control" v-model="match.channels"> 
                                        <option v-for="channel in channels" v-bind:key="channel.id" v-bind:value="channel.id">{{channel.name_en}} {{channel.name_ar}}</option>
                                    </select>
                                </div>
                            </div>             
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Stadium</label> 
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" v-model="match.stadium">
                                </div>
                            </div>              
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <textarea v-model="match.description" class="form-control parsley-validated" rows="4" data-minwords="4" required="" placeholder="Description"></textarea>                    
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <a class="btn btn-default"  @click="isModel = false">Close</a> 
                        <a class="btn btn-primary" @click="upMatch(match.id)">Save</a> 
                    </div> 
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal-backdrop in" v-if="isModel"></div>

    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            matchs: [],
            match: {},
            response: {},
            showNoti: false,
            isModel: false,
            searchMatch: "",
            totalMatchs: 0,
            reqParm: {}
        }
    },
    created: function(){
        this.reqParm.limit = 10
        this.reqParm.page = 1
        this.reqParm.searchBy = "date"
        this.fetch()
        this.getLeagues()  
        this.getChannels()  
    },
    methods: {
        fetch: function(){
            let uri = '/apiWeb/matchs/search';
            this.axios.post(uri,this.reqParm).then((response) => {
                this.matchs = response.data.data      
                this.totalMatchs = response.data.message     
            })
        },
        getLeagues: function(){
            let uri = '/apiWeb/leagues';
            this.axios.get(uri).then((response) => {
                this.leagues = response.data.data      
            })
        },
        getChannels: function(){
            let uri = '/apiWeb/channels';
            this.axios.get(uri).then((response) => {
                this.channels = response.data.data
                this.isLoded = this.isLoded + 1
            })
        },
        upMatch: function(id){
            let uri = '/apiWeb/matchs/'+id;
            this.axios.put(uri,this.match).then((response) => {
                this.response = response.data
                this.match = {}
                this.showNoti = true
                this.fetch()
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
            this.isModel = false
        },
        upShowMatch: function(id){
            let uri = '/apiWeb/matchs/'+id;
            this.axios.get(uri).then((response) => {
                this.match = response.data.data  
                this.match.dateM = (response.data.data.date.split(" "))[0]
                this.match.timeM = (response.data.data.date.split(" "))[1]
                this.isModel = true
           })
        },
        suppMatch: function(id){
            let uri = `/apiWeb/matchs/${id}`;
            this.axios.delete(uri).then((response) => {
                console.log(response);                
                this.response = response.data
                this.showNoti = true
            })            
            this.fetch()
        }
    },
    components: {
        Notification
    }

}
</script>