<template>
    <div class="m-t-md col-sm-offset-3 col-sm-6"> 
        <Notification :response="response" v-if="showNoti" />
        <form class="form-horizontal" >  
            <section class="panel panel-default"> 
                <header class="panel-heading"> <strong>Ajouter Video</strong> </header> 
                <div class="panel-body"> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Url Video <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <input v-model="video.url" @change="getInfo()" class="form-control" data-type="text" required="" placeholder="Url Video" type="text"> 
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Titre <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <textarea v-model="video.title" class="form-control" rows="2" data-minwords="6" required="" placeholder="Titre"></textarea>                    
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <textarea v-model="video.description" class="form-control" rows="6" data-minwords="6" required="" placeholder="Description"></textarea>                    
                        </div> 
                    </div> 
                </div>
                <footer class="panel-footer text-right bg-light lter"> 
                    <button type="button" @click="addVideo()" class="btn btn-success btn-s-xs">Ajouter</button> 
                </footer>
            </section>
        </form>
    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            video: {},
            response: {},
            showNoti: false,
            logo: ''
        }
    },
    methods: {
        
        addVideo: function(){
            let uri = '/apiWeb/videos';
            this.axios.post(uri, this.video).then((response) => {
                this.response = response.data
                this.video = {}
                this.showNoti = true
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
        },
        getInfo: function(){
            let url = this.getCode(this.video.url);
            this.axios.get("https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&id="+url+"&key=AIzaSyCSJ8jxL9lB_GjCBGe_kh1Yu40eUno2dbE").then((response)=>{                
                this.video.title = response.data.items[0].snippet.title
                this.video.description = response.data.items[0].snippet.description
                this.video.url = url
            })
        },
        getCode: function(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : url;
        }
    },
    components: {
        Notification
    }

}
</script>
