<template>
    <div class="m-t-md col-sm-offset-3 col-sm-6"> 
        <Notification :response="response" v-if="showNoti" />
        <form class="form-horizontal" >  
            <section class="panel panel-default"> 
                <header class="panel-heading"> <strong>Generer Videos</strong> </header> 
                <div class="panel-body"> 
                    <div class="form-group"> 
                        <label class="col-sm-3 control-label">Mot Clé <span class="text-danger">*</span></label> 
                        <div class="col-sm-9"> 
                            <input v-model="keyword" @change="getVideos()" class="form-control" data-type="text" required="" placeholder="Url Video" type="text"> 
                        </div> 
                    </div> 
                    <div class="line line-dashed line-lg pull-in"></div> 
                    <div class="table-responsive"> 
                        <table class="table table-striped datagrid m-b-sm"> 
                            <thead> 
                                <tr>
                                    <th class="sortable" scope="col">Logo</th>
                                    <th class="sortable" scope="col">Titre</th>
                                    <th class="sortable" scope="col">Action</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <!-- ngRepeat: video in videos | filter:searchVideo:false  -->
                                <tr v-for="video in videos" :key="video.id.videoId">
                                    <td><img :src="'https://i.ytimg.com/vi/'+video.id.videoId+'/default.jpg'" height="35px"></td>
                                    <td class="font-weight-bold"><h5 class="ng-binding">{{video.snippet.title.substring(0,45)}} ...</h5></td>
                                    <td>
                                        <button type="button" class="btn btn-danger" @click="suppVideo(video)"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                                <!-- end ngRepeat: video in videos | filter:searchVideo:false  -->
                            </tbody>
                        </table> 
                    </div>
                </div>
                <footer class="panel-footer text-right bg-light lter"> 
                    <button type="button" @click="addVideos()" class="btn btn-success btn-s-xs">Ajouter</button> 
                </footer>
            </section>
        </form>
    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            videos: {},
            response: {},
            showNoti: false,
            keyword: ''
        }
    },
    methods: {
        addVideos: function(){
            let uri = '/apiWeb/videos/generer';
            this.axios.post(uri, this.videos).then((response) => {
                this.response = response.data                
                this.videos = {}
                this.keyword = ''
                this.showNoti = true
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
            
            
        },
        getVideos: function(){
            let keyword = this.keyword;
            var event = new Date();
            event.setTime(event.getTime()-24*60*60000)
            console.log(event.toISOString());
            this.axios.get("https://www.googleapis.com/youtube/v3/search?part=snippet&type=video&maxResults=20&publishedAfter="+event.toISOString()+"&q="+keyword+"&key=AIzaSyCSJ8jxL9lB_GjCBGe_kh1Yu40eUno2dbE").then((response)=>{                
                this.videos = response.data.items
            })
        },
        suppVideo: function(video){
            this.videos.splice(this.videos.indexOf(video),1)
        }
    },
    components: {
        Notification
    }

}
</script>