<template>
    <div class="m-t-md col-sm-offset-2 col-sm-8 ng-scope">
        <Notification :response="response" v-if="showNoti" />
        <section class="panel panel-default"> 
            <header class="panel-heading"> Liste Videos </header> 
            <div class="table-responsive"> 
                <table class="table table-striped datagrid m-b-sm"> 
                    <thead> 
                        <tr> 
                            <th colspan="5"> 
                                <div class="row"> 
                                    <div class="col-sm-3 m-t-xs m-b-xs">
                                        <select class="input-sm form-control" @change="fetch()" v-model="reqParm.limit">
                                            <option value="5">5  Videos</option>
                                            <option value="10">10  Videos</option>
                                            <option value="25">25  Videos</option>
                                            <option value="50">50  Videos</option>
                                            <option value="100">100  Videos</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 m-t-xs m-b-xs">
                                    </div>
                                    <div class="col-sm-4 m-t-xs m-b-xs"> 
                                        <div class="input-group search datagrid-search"> 
                                            <input class="input-sm form-control" v-model="reqParm.searchValue" @change="fetch()" placeholder="Par Titre" type="text">
                                            <div class="input-group-btn"> 
                                                <button class="btn btn-default btn-sm">
                                                    <i class="fa fa-search"></i>
                                                </button> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                            </th> 
                        </tr> 
                        <tr>
                            <th class="sortable" scope="col">Logo</th>
                            <th class="sortable" scope="col">Url</th>
                            <th class="sortable" scope="col">Titre</th>
                            <th class="sortable" scope="col">Action</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <!-- ngRepeat: video in videos | filter:searchVideo:false  -->
                        <tr v-for="video in videos" :key="video.id">
                            <td><img :src="'https://i.ytimg.com/vi/'+video.url+'/default.jpg'" height="35px"></td>
                            <td class="font-weight-bold"><h5 class="ng-binding">{{video.url}}</h5></td>
                            <td class="font-weight-bold"><h5 class="ng-binding">{{video.title.substring(0,45)}} ...</h5></td>
                            <td>
                                <button class="btn btn-success" @click="upShowVideo(video.id)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" @click="suppVideo(video.id)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        <!-- end ngRepeat: video in videos | filter:searchVideo:false  -->
                    </tbody>
                </table> 
            </div>
        </section>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-for="i in Math.ceil(totalVideos/reqParm.limit)" :key="i" :class="{'active':reqParm.page==i}" @click="reqParm.page=i;fetch()"><a class="page-link" href="#">{{i}}</a></li>
            </ul>
        </nav>
        
        <div class="modal in" style="display: block;" v-if="isModel">
            <div class="modal-dialog"> 
                <div class="modal-content"> 
                    <div class="modal-header"> 
                        <button type="button" class="close" @click="isModel = false">×</button> 
                        <h4 class="modal-title">Modifier Video</h4> 
                    </div> 
                    <div class="modal-body">
                        <div class="form-horizontal"> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Url Video <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <input v-model="video.url" @change="getInfo()" class="form-control" data-type="text" required="" placeholder="Url Video" type="text"> 
                                </div> 
                            </div> 
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Titre <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <textarea v-model="video.title" class="form-control" rows="2" data-minwords="6" required="" placeholder="Titre"></textarea>                    
                                </div> 
                            </div> 
                            <div class="line line-dashed line-lg pull-in"></div> 
                            <div class="form-group"> 
                                <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label> 
                                <div class="col-sm-9"> 
                                    <textarea v-model="video.description" class="form-control" rows="6" data-minwords="6" required="" placeholder="Description"></textarea>                    
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <a class="btn btn-default"  @click="isModel = false">Close</a> 
                        <a class="btn btn-primary" @click="upVideo(video.id)">Save</a> 
                    </div> 
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal-backdrop in" v-if="isModel"></div>

    </div>
</template>
<script>
import Notification from "../layout/Notification.vue";
export default {
    data(){
        return{
            videos: [],
            video: {},
            response: {},
            showNoti: false,
            isModel: false,
            searchVideo: "",
            totalVideos: 0,
            reqParm: {}
        }
    },
    created: function(){
        this.reqParm.limit = 10
        this.reqParm.page = 1
        this.reqParm.searchBy = "title"
        this.fetch()
    },
    methods: {
        fetch: function(){
            let uri = '/apiWeb/videos/search';
            this.axios.post(uri,this.reqParm).then((response) => {
                this.videos = response.data.data      
                this.totalVideos = response.data.message      
            })
        },
        upVideo: function(id){
            let uri = '/apiWeb/videos/'+id;
            this.axios.put(uri,this.video).then((response) => {
                this.response = response.data
                this.video = {}
                this.showNoti = true
                this.fetch()
            }).catch(err => {
                    this.response = err.response.data
                    this.showNoti = true
            })
            this.isModel = false
        },
        upShowVideo: function(id){
            let uri = '/apiWeb/videos/'+id;
            this.axios.get(uri).then((response) => {
                this.video = response.data.data      
                this.isModel = true
           })
        },
        suppVideo: function(id){
            let uri = `/apiWeb/videos/${id}`;
            this.axios.delete(uri).then((response) => {
                console.log(response);                
                this.response = response.data
                this.showNoti = true
            })            
            this.fetch()
        },
        getInfo: function(){
            let url = this.getCode(this.video.url);
            this.axios.get("https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&id="+url+"&key=AIzaSyCSJ8jxL9lB_GjCBGe_kh1Yu40eUno2dbE").then((response)=>{                
                this.video.title = response.data.items[0].snippet.title
                this.video.description = response.data.items[0].snippet.description
                this.video.url = url
            })
        },
        getCode: function(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : url;
        }
    },
    components: {
        Notification
    }

}
</script>